VAR::image IS::.*\.png::.*\.gif::.*\.bmp::.*\.jpeg::.*\.jpg
VAR::video IS::.*\.flv::.*\.avi::.*\.mov::.*\.mp4::.*\.mpg::.*\.wmv
VAR::music IS::.*\.wma::.*\.wav::.*\.ogg::.*\.mp3
text document formats
VAR::documents::text IS::.*\.rtf::.*\.doc::.*\.docx::.*\.odt::.*\.txt::.*\.pdf
spreadsheet document formats
VAR::documents::spreadsheet IS::.*\.csf::.*\.ods::.*\.xls::.*\.xlsx
presentation document formats
VAR::documents::presentation IS::.*\.ppt::.*\.pptx::.*\.odp
DIR::C:::Users::[user]::Desktop

